body {
  background: #dad8d866;
}
@keyframes back-to-docs {
  0% {
    bottom: 2em;
  }
  50% {
    bottom: 2.2em;
  }
  100% {
    bottom: 2em;
  }
}

.divAnimate {
  position: fixed;
  margin: 2em;
  bottom: 2em;
  right: 0;
  z-index: 6;
  animation: back-to-docs 1.5s ease-in-out infinite;
}
.card .container {
  padding-left: 0.9rem;
}
.buttons_form {
  justify-content: flex-end;
}
.opacity0 {
  opacity: 0;
}

#opacity0.opacity0 {
  cursor: initial;
}
.opacity100 {
  opacity: 100;
}
#noBorder {
  border: 0;
}
.item {
  font-size: 1.5rem;
}
